* { box-sizing: border-box; }

body {
  background: #dfe4ea;
  color: #2d3436;
  font-family: 'PT Serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  
}

body,
.content__profile,
.profile,
.content__bio {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0;
}

.container {
  background: #fafafa;
  box-shadow:0 0 50px 0 rgba(30,20,80,.08),0 0 50px 0 rgba(30,20,80,.08);
  height: 80%;
  min-height: 0px;
  min-width: 400px;  
  width: 90%;
}

.container__content {
  align-items: stretch;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: stretch;
  height: 100%;
}

.content__profile {
  background: #f8a221;
  color: white;
}

.profile {
  text-align: center;
}

.content__profile img {
  border: 1px solid #ddd;
  border-radius: 50%;
  height: 14rem;
  padding: 0rem;
  width: 13.5rem;

}

.content__profile h1 {
  font: 3rem URW Chancery L, cursive;
  margin-top: .5em;
} 

.content__border {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  margin-top: -2rem;
  width: 50%;
}

.content__profile p {
  font-size: 1.1rem;
  margin: .25rem; 
}

.content__bio {
  background: #fafafa;
  padding: 3em;
  text-align: center;
}

.content__bio hr {
  width: 50%;
}

@media only screen and (max-width: 1200px) {
  
  .container {
    margin-top: -250px;
  }
  
  .container__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
  
  .content__profile {
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1em;
  }
  
  .content__profile img {
    height: 12rem;
    margin: 1rem;
    width: 12rem;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    margin-top: -350px;
  }
  
  .content__profile img {
    margin-bottom: -1rem;
  }
  
  .content__profile p {
    font-size: 1rem;
    margin: .1rem; 
}
  .content__bio {
  background: #fafafa;
  padding: 2em;
  text-align: center;
}
  .content__bio h2 {
    font-size: 1.2rem;
  }
  
  .content__bio p {
    font-size: .9rem;
  }
}
.back{
  background:#424242;
  ;
  color: white;
  
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 1.3em;
 font-family:'PT Serif';
}