
.imgStyle {
    width: 220px;
    height: 220px;
    
  }
  header {
    background: #000000;
    height: 200px;
    text-align: center;
  }
  header h1 {
    background-color: #000000;
    font-size: 20px;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1.6em;
    margin-bottom: 0.2em;
  }
  header p {
    font-size: 13px;
    font-size: 1rem;
    color: #000000;
  }
  .center {
    background-color: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }
  .active1 {
    background: #c07300;
    color: rgb(0, 0, 0);
  
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 1.3em;
    font-family: "PT Serif";
  }
  