
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.back{
  background:#18c99d;
  ;
  color: white;
  
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 1.3em;
  font-family:'PT Serif';
  margin: 6;
 

  
}
